@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background-image: url(https://source.unsplash.com/user/c_v_r);
  position: fixed;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  bottom: 0;
  right: 0;
  color: #ffffff;
  overflow-y: scroll;
  font-size: 1rem;
}

.main::after {
  content: "";
  background-color: rgb(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main > h1 {
  text-align: center;
  font-size: 2.3rem;
  z-index: 2;
  position: relative;
}

.main > p {
  text-align: center;
  font-size: 1.3rem;
  z-index: 2;
  position: relative;
}

.main-content {
  background-color: rgba(36, 14, 41, 1);
  max-width: 650px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 15px;
  gap: 30px;
  z-index: 2;
  position: relative;
  box-shadow: 0px -1px 10px 5px rgb(192, 123, 192);
}

.inputBox {
  position: relative;
  margin-bottom: 1rem;
}
.inputBox input {
  width: 100%;
  padding: 12px;
  color: #ffffff;
  background: rgba(36, 14, 41, 1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  font-size: 1em;
  outline: none;
}
.inputBox span {
  position: absolute;
  left: 0;
  top: 58px;
  padding: 12px;
  pointer-events: none;
  font-size: 1em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: #37af65;
  transform: translateX(10px) translateY(-6px);
  font-size: 0.7em;
  padding: 0 13px;
  background: rgba(36, 14, 41, 1);
  border-left: 1px solid #37af65;
  border-right: 1px solid #37af65;
}

.inputBox input:valid,
.inputBox input:focus {
  border: 1px solid #37af65;
}

/* #name,
#email,
#number, */
#age,
#dropdown {
  display: block;
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  color: #ffffff;
  background-color: rgba(36, 14, 41, 1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  font-size: 1.2rem;
  margin-bottom: 40px;
}
#comment {
  display: block;
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  color: #111;
  background-color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  font-size: 1.2rem;
  margin-bottom: 40px;
}
label[for="name"],
label[for="email"],
label[for="number"],
label[for="dropdown"],
label[for="comment"] {
  margin-bottom: 1.6rem;
  display: inline-block;
  font-size: 1.5rem;
}

.onlyForMarginBottom {
  margin-bottom: 4rem;
}
.cursor-pointer {
  cursor: pointer;
  margin-right: 0.5rem;
}
.cursor-pointer:hover {
  text-decoration: underline;
  color: #37af65;
}

#place1,
#place2,
#place3,
#place4,
#place5,
#place6,
#place7,
#place8,
#place9,
#place10 {
  height: 20px;
  width: 20px;
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  margin-left: 1rem;
}
.fa-solid {
  color: #37af65;
}
fieldset input {
  height: 20px;
  width: 20px;
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  margin-left: 1.5rem;
}

#comment {
  min-height: 180px;
}

label[for="comment"] {
  margin-top: 30px;
}

#submit {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: #02a024;
  border-radius: 2px;
  cursor: pointer;
  border: 0;
  color: #ffffff;
  font-size: 20px;
}
@media only all and (max-width: 768px) {
  .main > h1 {
    text-align: center;
    font-size: 1.5rem;
  }

  .main > p {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  .main-content {
    background-color: rgba(36, 14, 41, 1);
    max-width: 100%;
    padding: 40px;
    margin: 0 0.8rem;
    margin-bottom: 40px;
    border-radius: 15px;
  }
}

@media only all and (max-width: 525px) {
  .main > h1 {
    text-align: center;
    font-size: 1.5rem;
  }

  .main > p {
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
  }
}
